body {
    font-family: "Computer Modern Serif", serif;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

html {
    font-size: 1.2rem;
}

.tooltip {
    font-family: "Computer Modern Serif", serif;
    font-size: 1rem;
}

/*.derivation {*/
/*    overflow-x: scroll;*/
/*    overflow-y: visible;*/
/*}*/

.discharged-axiom {
    position: relative;
}

.discharged-axiom:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

a.dropdown {
    color: #212529;
}

.rule-axiom {
    display: inline-flex;
}

.rule {
    display: inline-flex;
    flex-direction: column;
}

.rule-top {
    display: inline-flex;
    flex-direction: row;
}

.rule-top-main {
    flex-grow: 1;

    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
}

.rule-top-main-part {
    flex-grow: 1;
    /* To center: */
    display: inline-flex;
    justify-content: center;
}

.rule-top-main-spacer {
    flex-grow: 1;
    width: 12px;
}

.rule-top-left-label {
    width: 23px;
}

.rule-top-right-label {
    width: 32px;
}

.rule-bottom {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.rule-bottom-left-label {
    position: relative;
    font-size: 85%;

    /* To center: */
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: 23px;
    top: -9px;
}

.rule-bottom-left-label.wide-label {
    padding-right: 14px;

}

.rule-bottom-main {
    border-top: 1px black solid;
    flex-grow: 1;

    /* To center: */
    display: flex;
    justify-content: center;
}

.rule-bottom-right-label {
    position: relative;
    top: -9px;
    padding-left: 4px;
    font-size: 70%;
    width: 32px;
    white-space: nowrap;
}

/* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */

.tooltip {
    position: relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
    content: attr(data-text); /* here's the magic */
    position: absolute;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    left: 100%;
    margin-left: 15px; /* and add a small left margin */

    /* basic styles */
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    background: #000000;
    color: #fff;
    text-align: center;

    opacity: 0;
    transition: .3s opacity;
}

.tooltip:after {
    content: "";
    position: absolute;

    /* position tooltip correctly */
    left: 100%;
    margin-left: -5px;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* the arrow */
    border: 10px solid #000000;
    border-color: transparent black transparent transparent;

    opacity: 0;
    transition: .3s opacity;
}

.tooltip:hover:before, .tooltip:hover:after {
    opacity: 1;
}

/* Fix weird unwanted button styling on Safari */
div[type='button'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.rule-formula {
    white-space: nowrap;
}